@import './global-style';

.wrapper {
  text-align: center;
  display: flex;
  flex-flow: column;
  max-width: $max-width;
  margin: 0 auto;
  justify-content: flex-end;

  @media (min-width: 1024px) and (orientation: landscape) {
    min-height: 100vh;
  }
}

main {
  padding: rhythm(large) rhythm(medium) 0;

  @include mq('medium') {
    padding-top: rhythm(large) * 2;
  }

  @include mq('desktop') {
    padding-top: 0;
  }
}

.img-bg img {
  display: block;
}
