.areas {
  display: none;
  max-width: rem(350);
  margin: (rhythm('medium') * 2) auto;
  position: absolute;
  bottom: rhythm('double');
  animation-duration: 3s;
  animation-name: areasSlideIn;

  a {
    display: block;
    will-change: filter;

    &:hover,
    &:focus-visible {
      img {
        transform: scale(1.1);
        filter: drop-shadow(0 0 1rem color('robin'));
      }
    }
  }

  img {
    width: 100%;
    display: block;
    transition: all ease-in 0.2s;
  }

  // Ipad
  @media (min-width: 1024px) and (orientation: landscape) {
    display: block;
    left: rhythm('double') * 2;
  }

  @include mq('xlarge') {
    display: block;
    left: rhythm('double') * 3;
  }

  .joinery {
    padding: 0 rhythm();
  }

  .kitchen {
    padding: rhythm() rhythm() 0;
  }
}
