
.contact {
    flex-grow: 1;
    text-align: center;
  
    @media (min-width: 1024px) and (orientation: landscape) {
      flex-grow: 1;
      margin-left: rhythm(large);
    }
  
    a {
      margin-bottom: 2px;
      display: inline-block;
    }

    @include mq('medium') {
      a:first-child {
        &::after {
          content: ' \2022';
          padding-right: rhythm(xsmall);
          padding-left: rhythm(small);
          padding-top: 4px;
        }
      }
    }
  }