
.contact {
    flex-grow: 1;
    text-align: center;
  
    @include mq('medium') {
      flex-grow: 0;
      margin-right: 0.5rem;
    }
  
    @media (min-width: 1024px) and (orientation: landscape) {
      flex-grow: 1;
      margin-left: rhythm(large);
    }
  
    a {
      margin-bottom: 2px;
      display: inline-block;
    }
  }