
footer {
    letter-spacing: 3px;
    position: relative;
  }
  
  .footer-inner {
    @include type-madrid;
  
    font-family: $font-simple;
    background-color: rgba(0, 0, 0, 0.5);
    padding: rhythm(xsmall) rhythm(small) rem(3px);
    border-radius: rhythm(xsmall);
    margin: 0 rhythm(xsmall) rhythm(xsmall);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  
    @include mq('large') {
      font-weight: bold;
      text-shadow: 2px 2px 10px black;
      justify-content: center;
      background-color: transparent;
    }
  
    @media (min-width: 1024px) and (orientation: portrait) {
      @include type-stockholm;
      margin-bottom: rhythm(xsmall);
    }
  
    @include mq('xlarge') {
      font-weight: normal;
      margin-bottom: rhythm(small);
    }
  
    @media (min-width: 1024px) and (orientation: landscape) {
      font-weight: normal;
      text-shadow: none;
      justify-content: normal;
      margin-bottom: rhythm(xsmall);
    }
  }
  
  .separator {
    padding: 0 rhythm(half);
    display: none;
  
    @include mq('large') {
      display: inline-block;
    }
  
    @media (min-width: 1024px) and (orientation: landscape) {
      &.last {
        display: none;
      }
    }
  }