.partners {
  margin: rhythm(large) auto 0;
  animation-duration: 6s;
  animation-name: textFadeIn;

  h3 {
    font-family: $font-simple;
  }

  a {
    display: inline-block;
    will-change: filter;

    img {
      transition: all ease-in 0.2s;
    }

    &:hover,
    &:focus-visible {
      img {
        transform: scale(1.1);

        &.alcro {
          filter: drop-shadow(0 0 1rem hsl(0, 0%, 30%));
        }

        &.picky {
          filter: drop-shadow(0 0 1rem hsl(14, 12%, 35%));
        }

        &.villa {
          filter: drop-shadow(0 0 1rem hsl(30, 73%, 30%));
        }
      }
    }
  }

  img {
    width: 5rem;
    display: inline-block;
    margin: 0 rhythm(xsmall);

    @include mq('medium') {
      width: 5rem;
      margin: 0 rhythm(small);
    }

    @include mq('large') {
      width: 6rem;
    }
  }
}
