.social-icons {
  margin: rhythm(double) auto 0;
  opacity: 0.9;

  a {
    width: 3rem;
    display: inline-block;
    margin: 0 rhythm(xsmall);

    @include mq('medium') {
      width: 5rem;
      margin: 0 rhythm(small);
    }
  }

  @include mq('xlarge') {
    display: none;
  }
}

.social {
  display: none;
  text-align: right;

  a {
    width: 2.3rem;
    display: inline-block;
    margin: 4px 0 0;
    opacity: 0.9;
  }
  
  @include mq('xlarge') {
    display: block;
    margin-right: rhythm(double);

    img {
      transition: all ease-in 0.2s;
    }

    a:hover,
    a:focus {
      img {
        transform: scale(1.2);
      }
    }
  }
}