.social-icons {
  margin: rhythm() auto 0;
  animation-duration: 4s;
  animation-name: textFadeIn;

  @include mq('medium') {
    margin-top: rhythm(double);
    margin-bottom: rhythm('double');
  }

  @include mq('large') {
    margin-top: rhythm(10);

    img {
      transition: all ease-in 0.2s;
    }

    a:hover,
    a:focus-visible {
      img {
        transform: scale(1.1);
        filter: drop-shadow(0 0 1rem color('robin'));
      }
    }
  }

  a {
    width: 5rem;
    opacity: 0.95;
    display: inline-block;
    margin: 0 rhythm(xsmall);

    @include mq('medium') {
      width: 5rem;
      margin: 0 rhythm(small);
    }

    @include mq('large') {
      width: 6rem;
    }
  }
}
