.text {
  @include type-madrid;

  font-family: $font-simple;
  border: 2px dashed color(white, $opacity: 0.8);
  padding: rhythm('small');
  animation-duration: 4s;
  animation-name: textFadeIn;

  a {
    border-bottom: 1px solid;

    &:hover {
      border-bottom: 0;
    }
  }

  span {
    display: block;
    margin-bottom: rhythm('xsmall');
  }

  small {
    font-size: 75%;
    display: block;
    padding-top: rhythm('small');
  }

  @include mq('medium') {
    @include set-type('madrid', $lines: 5);

    padding: rhythm('medium') rhythm('double');
    max-width: rem(500px);
    margin-left: auto;
    margin-right: auto;
  }

  @include mq('large') {
    @include set-type('stockholm', 'small', $lines: 6);

    padding: rhythm('double') rhythm('double');
    max-width: rem(650px);
  }

  @include mq('xlarge') {
    max-width: rem(850px);
  }
}

.heading-h1 {
  margin-bottom: rhythm(medium);
  max-width: rem(500px);

  @include mq('medium') {
    margin-bottom: rhythm(medium) * 2;
  }

  @include mq('large') {
    max-width: rem(660px);
  }

  @include mq('xlarge') {
    margin-top: rhythm(double) * 2;
  }
}

h1,
h2 {
  span {
    @include visuallyhidden;
  }

  img {
    width: 100%;

    @media (min-width: 1024px) and (orientation: landscape) {
      // display: none;
    }
  }
}

h1 {
  animation-duration: 2s;
  animation-name: heading;
}

@keyframes heading {
  0% {
     opacity: 0;
     transform: translateY(-100%);
  }
  50% {
     opacity: 1;
     transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} 

@keyframes textFadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 