$font-size: size('base');

html {
  font-size: percentage(calc($font-size / 16));
  font-family: $font-primary;
  line-height: calc-line-height($font-size);
}

input,
select,
button {
  @include type-london;

  font-family: $font-primary;
}

p,
ul,
ol,
dl,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: $font-primary;
}

p {
  @include type-paris;
}

ul,
ol,
dl,
p {
  margin-bottom: rhythm('half');

  @include mq('medium') {
    margin-bottom: rhythm('small');
  }
}

ul {
  padding: 0;
}

h1,
.type-stockholm {
  @include type-stockholm;

  margin-bottom: rhythm('small');
  color: color('robin');

  @include mq('medium') {
    margin-bottom: rhythm();
  }
}

h2,
.type-madrid {
  @include type-madrid;

  margin-bottom: rhythm('small');
}

h3,
.type-paris {
  @include type-paris;

  margin-bottom: rhythm('small');
}

h4,
.type-london {
  @include type-london;

  margin-bottom: rhythm('xsmall');
}
