$colors: (
  primary: #888,
  secondary: #444,
  black: #121214,
  pale: #dadad0,
  white: #fff,
  dark: #555,
  cloud: #f5f5f3
);


@function color($color, $opacity: 1) {
  @if (map-has-key($colors, $color)) {
    @return rgba(map-get($colors, $color), $opacity);
  } @else {
    @error unquote('Unfortunately, no value could be retrieved for `#{$color}`. ' + 'Please make sure it is defined in `$colors` map.');
  }
}

@function tint($color, $percent: 18%) {
  @return lighten($color, $percent);
}

@function shade($color, $percent: 14%) {
  @return darken($color, $percent);
}

$color-fade: color(secondary, $opacity: 0.5);
